@import "../../../../assets/styles/variables";

.mini-header {
  background-color: #000 !important;
  position: fixed;
  height: $mini-header-height;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  transition: top 0.3s ease-in-out;
  transform: translateY(0);
}
.site-header {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 98;
  height: $header-height;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: #ffffff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ececec;
  gap: 20px;
}

.logo-container {
  display: flex;

  .site-logo {
    height: 48px;
    width: 48px;
    margin-left: 20px;
  }

  .logo-svg-icon {
    border-radius: 16px;
    height: 100%;
    width: 100%;
  }
}
.menu-list {
  .menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-items-list {
    list-style: none;
    display: flex;
    padding: 9px 0;
    margin: 0;
  }

  .menu-item-link {
    display: flex;
    align-items: center;
    color: #000;
    font-size: 12px;
    font-weight: 600;
    margin-left: 10px;
    padding: 12px 8px;
    &:hover {
      background-color: #f2f2f2;
      border-radius: 25px;
    }
  }

  .menu-item-icon {
    height: 18px;
    width: 18px;
    margin: 0 5px 3px 0;
  }

  .menu-item-title {
    font-size: 11px;
    font-weight: 600;
  }
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding-left: 15px;
  border-radius: 23px;
  height: 38px;
  border: 2px solid #000;
  .search-bar-button {
    display: flex;
    align-items: center;
    background-color: #000;
    border-radius: 23px;
    padding: 4px 10px;
    margin-right: 3px;
  }

  .search-bar-input {
    border: none;
    height: 100%;
    font-size: 11px;
    border-radius: 5px;
    font-weight: 600;
    width: 340px;
    outline: none;
  }

  .search-bar-icon {
    height: 20px;
    width: 20px;
  }
}

.user-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.user-menu-trigger {
  display: flex;
  align-items: center;
  color: #000;
  margin-left: 10px;
  font-size: 12px;
  font-weight: 600;
}

.user-menu-profile {
  .user-menu-avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
  }
}

.user-menu-details {
  .user-menu-greeting {
    font-size: 12px;
    font-weight: 500;
  }
}
.user-menu-support-icon {
  height: 23px;
  width: 23px;
  margin-right: 5px;
}

.user-menu-lang {
  .user-menu-lang-icon {
    height: 23px;
    width: 23px;
    margin-right: 5px;
  }
}

.user-menu-cart {
  display: flex;
  align-self: center;
  justify-content: center;
  .user-menu-cart-icon {
    height: 23px;
    width: 23px;
    margin-right: 5px;
  }
}
