:host {
}

.carousel {
  position: relative;
  display: flex;
  height: 100%;
}

.carousel-wrapper {
  display: flex;
  overflow: hidden;
}

.carousel-button-prev {
  position: absolute;
  top: 50%;
  left: 2%;
}

.carousel-button-next {
  position: absolute;
  top: 50%;
  right: 2%;
}

.carousel-items {
  position: relative;
  display: flex;
  justify-content: center;
  flex: 1 0 33.33333333333333%;
}

.carousel-items:hover {
  .upright-btn {
    background-color: #000;
    path {
      fill: #fff;
    }
  }
}

.carousel-picture {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.carousel-title {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 7%;

  .title {
    font-size: 36px;
    font-weight: 700;
    margin-right: 35px;
  }

  .upright-btn {
    display: flex;
    background-color: aliceblue;
    padding: 15px;
    border-radius: 100%;
    transition: background-color 0.3s ease;
    svg {
      width: 20px;
    }
  }
}
