@import 'common';


:host {
  display: flex;
  flex-direction: column;
  gap: 35px;
  width: 100%;
  a {
    color: #656565;
  }
}

input {
  width: 100%;
  height: 52px;
  font-size: 18px;
  line-height: inherit;
  padding: 8px 18px;
  border: 1px solid #e4e4e4;
  border-radius: 4px;
}

.your-address-title {
  font-size: 28px;
  font-weight: 900;
}

.address-btn-group {
  display: flex;
  gap: 10px;
}

.add-address-wrapper {
  margin-top: 20px;
}


.address-list-title{
  font-size: 28px;
  font-weight: 900;
}

.account-detail-wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.account-detail {
  font-size: 26px;
  font-weight: 900;
}

.customer-list-items {
  display: flex;
  width: 100%;
  font-size: 18px;
  border-bottom: 1px solid #e4e4e4;
  padding: 15px 0;

  .label{
    flex: 0 0 30%;
  }
  .email{
    flex: 1;
  }
}

.customer-list-items:last-child{
  border: none;
}



::ng-deep .ant-form-item-label > label {
  font-size: 16px;
  font-weight: 700;
}
