<div class="your-address-title">Your address <span>(0)</span></div>
<div class="add-address">
  <button class="submit-btn" (click)="openAddDialog()">Add a new address</button>
</div>
<!-- <div class="add-address-wrapper" *ngIf="isAddressVisible">
  <form
    nz-form
    [nzLayout]="'vertical'"
    [formGroup]="validateForm"
    class="address-form"
  >
    <nz-form-item>
      <nz-form-label>First name</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="firstName" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>Last name</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="lastName" />
      </nz-form-control>
    </nz-form-item>
   
    <nz-form-item>
      <nz-form-label>Province/City</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="province" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>District</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="district" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>Ward/Commune</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="ward" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>Specific address</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="address" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>Phone number</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="phone" />
      </nz-form-control>
    </nz-form-item>
    <div class="form-group-btn">
      <button class="submit-btn">Add address</button>
      <button type="button" class="cancel-btn" (click)="handleCancelBtn()">
        Cancel
      </button>
    </div>
  </form>
</div> -->
<div class="account-detail-wrap">
  <div class="account-detail">Account details</div>
  <div class="customer-list-items">
    <div class="label">Name</div>
    <div class="name">ga</div>
  </div>
  <div class="customer-list-items">
    <div class="label">Province/City</div>
    <div class="email">ga</div>
  </div>
  <div class="customer-list-items">
    <div class="label">District</div>
    <div class="email">ga</div>
  </div>
  <div class="customer-list-items">
    <div class="label">Ward/Commune</div>
    <div class="email">ga</div>
  </div>
  <div class="customer-list-items">
    <div class="label">Specific address</div>
    <div class="email">ga</div>
  </div>
  <div class="customer-list-items">
    <div class="label">Phone</div>
    <div class="email">ga</div>
  </div>
  <div class="form-group-btn">
    <button class="submit-btn">Edit</button>
    <button class="cancel-btn">Delete</button>
  </div>
</div>

