<div id="main-content">
  <div class="banner-section">
    <aum-banner></aum-banner>
  </div>
  <div class="info-section section">
    <div class="info-wrapper">
      <a>
        <div class="info-header">
          <div class="info-title">
            <svg
              class="info-section-icon"
              alt=""
              aria-label=""
              xmlns="http://www.w3.org/2000/svg"
              version="1.1"
              viewBox="0 0 1024 1024"
              width="1em"
              height="1em"
              fill="#fff"
              aria-hidden="true"
            >
              <path
                d="M549.7 128.9l284.8 111.9c27.3 10.7 44.8 37.6 43.5 66.9l-6.9 165.7c-5.7 135.5-73.3 260.9-183.4 340l-58.7 42.2c-72 51.7-168.9 51.7-240.9 0.1l-57.5-41.3c-109.9-79-176.5-204.7-180.2-340l-4.6-167c-0.8-28.6 16.3-54.7 42.8-65.6l275.3-112.3c27.5-11.2 58.2-11.4 85.8-0.6z m139.8 268.7c-11.7-12.8-31-13.3-43.3-1l-163.6 165.1-84.5-78.5c-12.7-11.8-32-10.5-43.2 2.9-11.2 13.3-9.9 33.7 2.8 45.4l105.6 98.1c11.9 11.1 29.9 10.7 41.4-1l183.8-185.5c12.2-12.3 12.6-32.7 1-45.5z"
              ></path>
            </svg>
            <span>Why choose Aureo</span>
          </div>
          <div class="info-list">
            <div class="info-item">
              <div class="info-item-content">
                <svg
                  class="info-section-icon"
                  alt=""
                  aria-label=""
                  xmlns="http://www.w3.org/2000/svg"
                  version="1.1"
                  viewBox="0 0 1024 1024"
                  width="1em"
                  height="1em"
                  fill="#fff"
                  aria-hidden="true"
                >
                  <path
                    d="M512 61.6c127 0 230 103 230 229.9l-0.1 64 38 0c60.2 0 109.1 48.8 109 109.1l0 388.7c0 60.2-48.8 109.1-109 109.1l-535.8 0c-60.2 0-109.1-48.8-109-109.1l0-388.7c0-60.2 48.8-109.1 109-109.1l37.9 0 0-64c0-127 103-230 230-229.9z m267.9 361.9l-535.8 0c-22.7 0-41.1 18.4-41.1 41.1l0 388.7c0 22.7 18.4 41.1 41.1 41.2l535.8 0c22.7 0 41.1-18.4 41.1-41.2l0-388.7c0-22.7-18.4-41.1-41.1-41.1z m-271.4 113c18.4 0 33.2 14.9 33.2 33.2l0 178.5c0 18.4-14.9 33.2-33.2 33.3-18.4 0-33.2-14.9-33.2-33.3l0-178.5c0-18.4 14.9-33.2 33.2-33.2z m3.5-407c-89.5 0-162 72.5-162 162l0 64 324 0 0-64c0-86.5-67.8-157.1-153.1-161.7l-8.9-0.3z"
                  ></path>
                </svg>
                <span>Security privacy</span>
              </div>
            </div>
            <div class="info-item">
              <span class="info-item-icon"></span>
              <div class="info-item-content">
                <svg
                  class="info-section-icon"
                  alt=""
                  aria-label=""
                  xmlns="http://www.w3.org/2000/svg"
                  version="1.1"
                  viewBox="0 0 1024 1024"
                  width="1em"
                  height="1em"
                  fill="#fff"
                  aria-hidden="true"
                >
                  <path
                    d="M860.5 169.4c44 0 79.7 36.5 79.7 81.4l0 522.4c0 44.9-35.7 81.4-79.7 81.4l-697 0c-44 0-79.7-36.5-79.7-81.4l0-522.4c0-44.9 35.7-81.4 79.7-81.4l697 0z m0 64.3l-697 0c-8.3 0-15.5 7.4-15.5 17.1l0 522.4c0 9.8 7.3 17.2 15.5 17.1l697 0c8.3 0 15.5-7.4 15.5-17.1l0-522.4c0-9.8-7.3-17.2-15.5-17.1z m-109.8 420.1c19.2 0 34.7 15.9 34.7 35.4 0 19.6-15.6 35.4-34.7 35.4l-115.7 0c-19.2 0-34.7-15.9-34.7-35.4 0-19.6 15.6-35.4 34.7-35.4l115.7 0z m27.6-307.2c19.9 0 36 16.1 36 36 0 19.9-16.1 36-36 36l-528.5 0c-19.9 0-36-16.1-36-36 0-19.9 16.1-36 36-36l528.5 0z"
                  ></path>
                </svg>
                <span>Safe payments</span>
              </div>
            </div>
            <div class="info-item">
              <span class="info-item-icon"></span>
              <div class="info-item-content">
                <svg
                  class="info-section-icon"
                  alt=""
                  aria-label=""
                  xmlns="http://www.w3.org/2000/svg"
                  version="1.1"
                  viewBox="0 0 1024 1024"
                  width="1em"
                  height="1em"
                  fill="#fff"
                  aria-hidden="true"
                >
                  <path
                    d="M671 154.7c53.4 0 96.8 43.3 96.8 96.9l0 55.1 153.5 59.1c37.4 14.4 62 50.3 61.9 90.3l0 226.9c0 49.9-37.8 91-86.3 96.3l0.2-4.8c0 65.2-54.3 117.5-120.7 117.4-64.5 0-117.6-49.4-120.5-112l-275.9 0 0 1c-3.4 62.1-56.3 111-120.6 111-64.5 0-117.6-49.4-120.4-112l-1.4 0c-53.4 0-96.8-43.3-96.8-96.9l0-431.4c0-53.4 43.3-96.8 96.8-96.9l533.4 0 0 0z m-360.2 625.2l-102.8 0c2.9 24 24.6 43.1 51.4 43 26.8 0 48.5-19.1 51.4-43z m422.5 0l-8.3 0c2.9 24 24.6 43.1 51.4 43 26.8 0 48.5-19.1 51.4-43l-94.5 0z m-62.3-556.2l-533.4 0c-15.4 0-27.9 12.5-27.9 27.9l0 431.4c0 15.4 12.5 27.9 27.9 27.9l561.3 0 0-459.3c0-14.2-10.7-26-24.4-27.7l-3.5-0.2z m96.8 156.8l0 330.4 118.6 0c14.2 0 26-10.7 27.7-24.3l0.2-3.6 0-226.9c0-11.5-7.1-21.9-17.9-26l-128.6-49.6 0 0z m-196.5-16.1c12.6 12.3 13.9 31.8 3.6 45.5l-2.8 3.3-177.2 182.9c-12 12.3-30.9 13.9-44.6 4.2l-3.2-2.7-114-103.1c-14.1-12.8-15.2-34.6-2.4-48.6 11.7-13 31.2-15 45.3-5.2l3.4 2.7 89.2 80.8 154-159c13.2-13.7 35.1-14 48.7-0.8l0 0z"
                  ></path>
                </svg>
                <span>Delivery guarantee</span>
              </div>
            </div>
            <svg
              class="baf"
              alt=""
              xmlns="http://www.w3.org/2000/svg"
              version="1.1"
              viewBox="0 0 1024 1024"
              width="1em"
              height="1em"
              fill="#fff"
              aria-hidden="true"
            >
              <path
                d="M323.7 111.7c19.8-19.8 50.7-21.8 72.7-5.9l6.9 5.9 362.1 362.1c19.8 19.8 21.8 50.7 5.9 72.6l-5.9 7-362.1 362.1c-22 22-57.7 22-79.6 0-19.8-19.8-21.8-50.7-5.9-72.7l5.9-7 322.1-322.2-322.1-322.2c-19.8-19.8-21.8-50.7-5.9-72.7l5.9-7z"
              ></path>
            </svg>
          </div>
        </div>
        <div class="info-content">
          <div class="info-text">
            <svg
              viewBox="0 0 1024 1024"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              width="1em"
              height="1em"
              class="info-section-icon"
              style="fill: #0a8800"
              alt=""
              aria-label=""
              aria-hidden="true"
            >
              <path
                d="M829.7 783.4l-54.9-97.2c-25.4-44.9-38.8-96.2-38.8-148.5l0-85.1c0-107.5-67.6-198.4-160-227.7l0-61c0-37.4-28.7-67.9-64-67.9-35.3 0-64 30.5-64 67.9l0 61c-92.4 29.3-160 120.2-160 227.7l0 85.1c0 52.3-13.4 103.7-38.8 148.5l-54.9 97.2c-3 5.3-3 11.8-0.2 17.1 2.8 5.3 8.1 8.6 13.9 8.6l608 0c5.8 0 11.1-3.3 13.9-8.5 2.8-5.3 2.7-11.9-0.2-17.2z m-317.7 144.6c47.1 0 87.6-29.3 106.7-71.3l-213.4 0c19.1 42 59.5 71.3 106.7 71.3z"
              ></path>
            </svg>
            <span>
              Security reminder: Please be wary of phishing scams. Do not share
              your personal information with anyone.</span
            >
          </div>
          <div class="info-viewmore">
            <span>View</span
            ><svg
              class="abc"
              alt=""
              xmlns="http://www.w3.org/2000/svg"
              version="1.1"
              viewBox="0 0 1024 1024"
              width="1em"
              height="1em"
              fill="#0a8800"
              aria-hidden="true"
            >
              <path
                d="M323.7 111.7c19.8-19.8 50.7-21.8 72.7-5.9l6.9 5.9 362.1 362.1c19.8 19.8 21.8 50.7 5.9 72.6l-5.9 7-362.1 362.1c-22 22-57.7 22-79.6 0-19.8-19.8-21.8-50.7-5.9-72.7l5.9-7 322.1-322.2-322.1-322.2c-19.8-19.8-21.8-50.7-5.9-72.7l5.9-7z"
              ></path>
            </svg>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="flash-sale section">
    <aum-product-slider title="Lightning Deals" subtitle="Limited time offer">
      <aum-carousel>
        <aum-product-card price="1"></aum-product-card>
        <aum-product-card price="2"></aum-product-card>
        <aum-product-card price="3"></aum-product-card>
        <aum-product-card price="4"></aum-product-card>
        <aum-product-card price="5"></aum-product-card>
        <aum-product-card price="6"></aum-product-card>
        <aum-product-card price="7"> </aum-product-card>
        <aum-product-card price="8"></aum-product-card>
        <aum-product-card price="9"></aum-product-card>
        <aum-product-card price="10"></aum-product-card>
        <aum-product-card price="11"></aum-product-card>
        <aum-product-card price="12"> </aum-product-card>
        <aum-product-card price="13"></aum-product-card>
        <aum-product-card price="14"></aum-product-card>
        <aum-product-card price="15"></aum-product-card>
        <aum-product-card price="16"></aum-product-card>
        <aum-product-card price="17"></aum-product-card>
        <aum-product-card price="12"> </aum-product-card>
        <aum-product-card price="13"></aum-product-card>
        <aum-product-card price="14"></aum-product-card>
      </aum-carousel>
    </aum-product-slider>
  </div>
  <div class="cleaner-deals section">
    <aum-product-slider title="Clearance deals" subtitle="Limited stock">
      <aum-carousel>
        <aum-product-card price="1"></aum-product-card>
        <aum-product-card price="2"></aum-product-card>
        <aum-product-card price="3"></aum-product-card>
        <aum-product-card price="4"></aum-product-card>
        <aum-product-card price="5"></aum-product-card>
        <aum-product-card price="6"></aum-product-card>
        <aum-product-card price="7"> </aum-product-card>
        <aum-product-card price="8"></aum-product-card>
        <aum-product-card price="9"></aum-product-card>
        <aum-product-card price="10"></aum-product-card>
        <aum-product-card price="11"></aum-product-card>
        <aum-product-card price="12"> </aum-product-card>
        <aum-product-card price="13"></aum-product-card>
        <aum-product-card price="14"></aum-product-card>
        <aum-product-card price="15"></aum-product-card>
        <aum-product-card price="16"></aum-product-card>
        <aum-product-card price="17"></aum-product-card>
        <aum-product-card price="12"> </aum-product-card>
        <aum-product-card price="13"></aum-product-card>
        <aum-product-card price="14"></aum-product-card>
      </aum-carousel>
    </aum-product-slider>
  </div>
  <div class="section">
    <div class="explore-section">
      <div class="explore-section-wrapper">
        <div class="featured-section">
          <div class="featured-wrapper">
            <div class="featured-header">
              <a>
                <div class="feature-header-banner">
                  <img
                    src="https://aimg.kwcdn.com/material-put/20a3d4caf7/1489166d-8575-4f4b-880f-154fed72b4f5.png?imageView2/2/w/1300/q/80/format/webp"
                    alt=""
                    class="feature-header-image"
                  />
                </div>
                <div class="feature-header-content">
                  <h2 class="feature-header-title">FEATURED STORES</h2>
                </div>
              </a>
              <a class="feature-header-see-more">
                See more
                <span
                  ><svg
                    class="arrow-icon"
                    alt=""
                    xmlns="http://www.w3.org/2000/svg"
                    version="1.1"
                    viewBox="0 0 1024 1024"
                    width="1em"
                    height="1em"
                    fill="#222222"
                    aria-hidden="true"
                  >
                    <path
                      d="M323.7 111.7c19.8-19.8 50.7-21.8 72.7-5.9l6.9 5.9 362.1 362.1c19.8 19.8 21.8 50.7 5.9 72.6l-5.9 7-362.1 362.1c-22 22-57.7 22-79.6 0-19.8-19.8-21.8-50.7-5.9-72.7l5.9-7 322.1-322.2-322.1-322.2c-19.8-19.8-21.8-50.7-5.9-72.7l5.9-7z"
                    ></path>
                  </svg>
                </span>
              </a>
            </div>
            <div class="store-list">
              <div class="store-list-wrapper">
                <div class="store-card">
                  <div class="store-card-banner">
                    <img
                      src="https://img.kwcdn.com/product/fancy/59552895-445b-4a69-801b-3129ecc1568a.jpg?imageView2/2/w/500/q/70/format/webp"
                      alt=""
                      class="store-card-image"
                    />
                  </div>
                  <div class="store-card-content">
                    <div class="store-card-heading">
                      <div class="store-card-banner">
                        <img
                          src="https://img.kwcdn.com/supplier-public-tag/66bf17cc-ec12-491d-bd11-18e3b80e224d"
                          alt=""
                          class="store-card-heading-image"
                        />
                      </div>
                      <div class="store-card-title">
                        Xinlichen shoe industry
                      </div>
                    </div>

                    <div class="store-card-total-sales">
                      6,2k+ <span>sold</span>
                    </div>
                  </div>
                </div>
                <div class="store-card">
                  <div class="store-card-banner">
                    <img
                      src="https://img.kwcdn.com/product/fancy/59552895-445b-4a69-801b-3129ecc1568a.jpg?imageView2/2/w/500/q/70/format/webp"
                      alt=""
                      class="store-card-image"
                    />
                  </div>
                  <div class="store-card-content">
                    <div class="store-card-heading">
                      <div class="store-card-banner">
                        <img
                          src="https://img.kwcdn.com/supplier-public-tag/66bf17cc-ec12-491d-bd11-18e3b80e224d"
                          alt=""
                          class="store-card-heading-image"
                        />
                      </div>
                      <div class="store-card-title">
                        Xinlichen shoe industry
                      </div>
                    </div>

                    <div class="store-card-total-sales">
                      6,2k+ <span>sold</span>
                    </div>
                  </div>
                </div>
                <div class="store-card">
                  <div class="store-card-banner">
                    <img
                      src="https://img.kwcdn.com/product/fancy/59552895-445b-4a69-801b-3129ecc1568a.jpg?imageView2/2/w/500/q/70/format/webp"
                      alt=""
                      class="store-card-image"
                    />
                  </div>
                  <div class="store-card-content">
                    <div class="store-card-heading">
                      <div class="store-card-banner">
                        <img
                          src="https://img.kwcdn.com/supplier-public-tag/66bf17cc-ec12-491d-bd11-18e3b80e224d"
                          alt=""
                          class="store-card-heading-image"
                        />
                      </div>
                      <div class="store-card-title">
                        Xinlichen shoe industry
                      </div>
                    </div>

                    <div class="store-card-total-sales">
                      6,2k+ <span>sold</span>
                    </div>
                  </div>
                </div>
                <div class="store-card">
                  <div class="store-card-banner">
                    <img
                      src="https://img.kwcdn.com/product/fancy/59552895-445b-4a69-801b-3129ecc1568a.jpg?imageView2/2/w/500/q/70/format/webp"
                      alt=""
                      class="store-card-image"
                    />
                  </div>
                  <div class="store-card-content">
                    <div class="store-card-heading">
                      <div class="store-card-banner">
                        <img
                          src="https://img.kwcdn.com/supplier-public-tag/66bf17cc-ec12-491d-bd11-18e3b80e224d"
                          alt=""
                          class="store-card-heading-image"
                        />
                      </div>
                      <div class="store-card-title">
                        Xinlichen shoe industry
                      </div>
                    </div>

                    <div class="store-card-total-sales">
                      6,2k+ <span>sold</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="categories-section">
          <div class="categories-wrapper">
            <div class="categories-header">
              <a>
                <div class="categories-header-banner">
                  <img
                    src="https://aimg.kwcdn.com/material-put/20a3d4caf7/1489166d-8575-4f4b-880f-154fed72b4f5.png?imageView2/2/w/1300/q/80/format/webp"
                    alt=""
                    class="categories-header-image"
                  />
                </div>
                <div class="categories-header-content">
                  <h2 class="categories-header-title">FEATURED STORES</h2>
                </div>
              </a>
              <a class="categories-header-see-more">
                See more
                <span
                  ><svg
                    class="arrow-icon"
                    alt=""
                    xmlns="http://www.w3.org/2000/svg"
                    version="1.1"
                    viewBox="0 0 1024 1024"
                    width="1em"
                    height="1em"
                    fill="#222222"
                    aria-hidden="true"
                  >
                    <path
                      d="M323.7 111.7c19.8-19.8 50.7-21.8 72.7-5.9l6.9 5.9 362.1 362.1c19.8 19.8 21.8 50.7 5.9 72.6l-5.9 7-362.1 362.1c-22 22-57.7 22-79.6 0-19.8-19.8-21.8-50.7-5.9-72.7l5.9-7 322.1-322.2-322.1-322.2c-19.8-19.8-21.8-50.7-5.9-72.7l5.9-7z"
                    ></path>
                  </svg>
                </span>
              </a>
            </div>
            <div class="categories-list">
              <div class="categories-list-wrapper">
                <div class="categories-card">
                  <div class="categories-card-banner">
                    <img
                      src="https://img.kwcdn.com/product/fancy/59552895-445b-4a69-801b-3129ecc1568a.jpg?imageView2/2/w/500/q/70/format/webp"
                      alt=""
                      class="categories-card-image"
                    />
                  </div>
                  <div class="categories-card-content">
                    <div class="categories-card-heading">
                      <div class="categories-card-title">
                        Xinlichen shoe industry
                      </div>
                    </div>
                  </div>
                </div>
                <div class="categories-card">
                  <div class="categories-card-banner">
                    <img
                      src="https://img.kwcdn.com/product/fancy/59552895-445b-4a69-801b-3129ecc1568a.jpg?imageView2/2/w/500/q/70/format/webp"
                      alt=""
                      class="categories-card-image"
                    />
                  </div>
                  <div class="categories-card-content">
                    <div class="categories-card-heading">
                      <div class="categories-card-title">
                        Xinlichen shoe industry
                      </div>
                    </div>
                  </div>
                </div>
                <div class="categories-card">
                  <div class="categories-card-banner">
                    <img
                      src="https://img.kwcdn.com/product/fancy/59552895-445b-4a69-801b-3129ecc1568a.jpg?imageView2/2/w/500/q/70/format/webp"
                      alt=""
                      class="categories-card-image"
                    />
                  </div>
                  <div class="categories-card-content">
                    <div class="categories-card-heading">
                      <div class="categories-card-title">
                        Xinlichen shoe industry
                      </div>
                    </div>
                  </div>
                </div>
                <div class="categories-card">
                  <div class="categories-card-banner">
                    <img
                      src="https://img.kwcdn.com/product/fancy/59552895-445b-4a69-801b-3129ecc1568a.jpg?imageView2/2/w/500/q/70/format/webp"
                      alt=""
                      class="categories-card-image"
                    />
                  </div>
                  <div class="categories-card-content">
                    <div class="categories-card-heading">
                      <div class="categories-card-title">
                        Xinlichen shoe industry
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <aum-interest-explorer>
      <aum-tabs>
        <aum-tab-item label="Tab 1">
          <aum-product-card price="10"></aum-product-card>
          <aum-product-card price="10"></aum-product-card>
          <aum-product-card price="10"></aum-product-card>
          <aum-product-card price="10"></aum-product-card>
          <aum-product-card price="10"></aum-product-card>
          <aum-product-card price="10"></aum-product-card>
          <aum-product-card price="10"></aum-product-card>
          <aum-product-card price="10"></aum-product-card>
          <aum-product-card price="10"></aum-product-card>
          <aum-product-card price="10"></aum-product-card>
          <aum-product-card price="10"></aum-product-card>
          <aum-product-card price="10"></aum-product-card>
          <aum-product-card price="10"></aum-product-card>
          <aum-product-card price="10"></aum-product-card>
          <aum-product-card price="10"></aum-product-card>
          <aum-product-card price="10"></aum-product-card>
          <aum-product-card price="10"></aum-product-card>
          <aum-product-card price="10"></aum-product-card>
          <aum-product-card price="10"></aum-product-card>
          <aum-product-card price="10"></aum-product-card>
        </aum-tab-item>
        <aum-tab-item label="Tab 2">Nội dung của Tab 2</aum-tab-item>
        <aum-tab-item label="Tab 3">Nội dung của Tab 3</aum-tab-item>
        <aum-tab-item label="Tab 4">Nội dung của Tab 4</aum-tab-item>
        <aum-tab-item label="Tab 5">Nội dung của Tab 5</aum-tab-item>
        <aum-tab-item label="Tab 6">Nội dung của Tab 6</aum-tab-item>
        <aum-tab-item label="Tab 7">Nội dung của Tab 7</aum-tab-item>
        <aum-tab-item label="Tab 8">Nội dung của Tab 8</aum-tab-item>
        <aum-tab-item label="Tab 9">Nội dung của Tab 9</aum-tab-item>
        <aum-tab-item label="Tab 10">Nội dung của Tab 10</aum-tab-item>
        <aum-tab-item label="Tab 11">Nội dung của Tab 11</aum-tab-item>
        <aum-tab-item label="Tab 12">Nội dung của Tab 12</aum-tab-item>
        <aum-tab-item label="Tab 13">Nội dung của Tab 13</aum-tab-item>
        <aum-tab-item label="Tab 14">Nội dung của Tab 14</aum-tab-item>
      </aum-tabs>
    </aum-interest-explorer>
  </div>
</div>
