@import "variables";

:host {
  padding-top: 111px;
  display: block;
}

@media only screen and (max-width: 1199px) {
  :host {
    padding-top: 44px;
    display: flex;
    flex-direction: column;
  }
}

.section {
  padding-top: 30px;
}

.banner-section {
  background-color: rgb(196, 0, 0);
}

.info-section {
  .info-section-icon {
    width: 20px;
    height: 20px;
  }
}

.info-wrapper {
  margin: 0 auto;
  min-width: 1080px;
  max-width: 1350px;

  .info-header {
    display: flex;
    justify-content: space-between;
    border: 1px solid #0a8800;
    border-radius: 8px 8px 0 0;
    align-items: center;
    background-color: #0a8800;
    color: #ffffff;
    font-size: 14px;
    padding: 5px 16px;
  }
  .info-title {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .info-list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .info-item {
      display: flex;
      justify-content: center;
      align-items: center;

      .info-item-content {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      .info-item-icon {
        background-color: #ffffff;
        width: 1px;
        height: 16px;
        margin: 0 24px;
      }
    }
  }
  .info-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #0a8800;
    padding: 5px 16px;
    border: 1px solid #0a8800;
    border-radius: 0 0 8px 8px;

    .info-text {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    .info-viewmore {
      display: flex;
      align-items: center;
    }
  }
}

.explore-section {
  margin: 0 auto;
  min-width: 1080px;
  max-width: 1350px;
  position: relative;
}

.explore-section-wrapper {
  display: flex;
  gap: 18px;
}

.featured-header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.feature-header-banner {
  margin: 0 auto;
  font-weight: 800;
  line-height: 1;
  text-align: center;
  position: relative;
  padding-top: 18px;
  height: 56px;
}

.feature-header-image {
  width: 100%;
  height: 56px;
  object-fit: cover;
}

.feature-header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: #000;
  font-size: 20px;
  line-height: 29px;
  font-weight: 900;
}

.feature-header-title {
  color: #000;
  font-size: 20px;
  font-weight: 800;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.feature-header-see-more {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  margin-top: 50px;
}

.featured-section {
  width: calc(50% - 18px);
}
//

.categories-header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.categories-header-banner {
  margin: 0 auto;
  font-weight: 800;
  line-height: 1;
  text-align: center;
  position: relative;
  padding-top: 18px;
  height: 56px;
}

.categories-header-image {
  width: 100%;
  height: 56px;
  object-fit: cover;
}

.categories-header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: #000;
  font-size: 20px;
  line-height: 29px;
  font-weight: 900;
}

.categories-header-title {
  color: #000;
  font-size: 20px;
  font-weight: 800;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.categories-header-see-more {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  margin-top: 50px;
}

.categories-section {
  width: calc(50% - 18px);
}

.arrow-icon {
  fill: #222;
  color: #222;
  height: 13px;
  width: 13px;
  margin-left: 4px;
}

.store-card {
  width: calc(25% - 13px);
  box-shadow: -6px 6px 12px -4px rgba(0, 0, 0, 0.1);
}

.store-card-image {
  width: 100%;
  height: 156px;
  object-fit: cover;
}

.store-list-wrapper {
  display: flex;
  gap: 14px;
}

.store-card-heading {
  display: flex;
  align-items: center;
  gap: 5px;
}

.store-card-title {
  width: 156px;
  font-size: 14px;
  font-weight: 600;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #000;
}
.store-card-content {
  padding: 5px 10px;
}

.store-card-heading-image {
  width: 18px;
  height: auto;
  border-radius: 50%;
}

//

.categories-card {
  width: calc(25% - 13px);
}

.categories-card-image {
  width: 100%;
  height: 156px;
  object-fit: cover;
  border-radius: 50%;
}

.categories-list-wrapper {
  display: flex;
  gap: 14px;
}

.categories-card-heading {
  display: flex;
  align-items: center;
  gap: 5px;
}

.categories-card-title {
  text-align: center;
  margin-top: 7px;
  word-break: break-word;
  font-size: 14px;
  color: #222;
  line-height: 20px;
  font-weight: 500;
  overflow: hidden;
  word-wrap: break-word;
}
.categories-card-content {
  padding: 5px 10px;
}

.categories-card-heading-image {
  width: 18px;
  height: auto;
  border-radius: 50%;
}
