<div id="main-content">
  <div id="shopify-section-template-1" class="shopify-section">
    <div class="container">
      <div class="swiper">
        <aum-carousel></aum-carousel>
      </div>
    </div>
  </div>
  <div class="shopify-section"></div>
  <div class="shopify-section"></div>
  <div class="shopify-section"></div>
  <div class="shopify-section"></div>
  <div class="shopify-section"></div>
  <div class="shopify-section"></div>
  <div class="shopify-section"></div>
  <div class="shopify-section"></div>
  <div class="shopify-section"></div>
</div>
