@import "variables";

:host {
  padding-top: 111px;
  display: block;
}

@media only screen and (max-width: 1199px) {
  :host {
    padding-top: 44px;
    display: flex;
    flex-direction: column;
  }
}

.container {
}

.swiper {
  height: calc(100vh - #{$mini-header-height} - #{$header-height});
}
