<div class="banner-wrapper">
  <a>
    <div class="banner">
      <img
        src="https://aimg.kwcdn.com/material-put/20a3d41b4e/dfc1fe92-a665-4e7b-a921-a22c122e2b6e.png?imageView2/q/70/format/webp"
        class="banner-image banner-image-bg1"
        alt="Promotional Banner"
      />
      <div class="banner-frame frame-1"></div>
      <div class="banner-frame frame-2"></div>
      <img
        src="https://aimg.kwcdn.com/material-put/20a3d4b51f/a4ffce98-ca97-4fc8-8290-50db5b1bb456.png?imageView2/q/70/format/webp"
        class="banner-image banner-image-bg2"
      />
    </div>
  </a>
</div>
