<div class="header-social">
    <ul>
      <li>
        <a><i class="fa-brands fa-facebook-f custom-social-icon"></i></a>
      </li>
      <li>
        <a><i class="fa-brands fa-instagram custom-social-icon"></i></a>
      </li>
      <li>
        <a><i class="fa-brands fa-twitter custom-social-icon"></i></a>
      </li>
      <li>
        <a><i class="fa-brands fa-dribbble custom-social-icon"></i></a>
      </li>
    </ul>
  </div>
  <div class="text-widget">
    <p class="text-widget-content">
      <span>HOT</span>New season for this week: Texture striped sweatshirt
      <a class="shop-now">Shop now</a>
    </p>
  </div>
  <div class="alt-font">
    <div class="change-lang">
      <a
        nz-dropdown
        nzTrigger="click"
        [nzDropdownMenu]="menu"
        (click)="toggleDropdown()"
        class="change-lang-btn"
      >
        {{ currentLanguage }}
        <span nz-icon [nzType]="isOpen ? 'up' : 'down'"></span>
      </a>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item (click)="changeLanguage('English')">English</li>
          <li nz-menu-item (click)="changeLanguage('Tiếng Việt')">
            Tiếng Việt
          </li>
        </ul>
      </nz-dropdown-menu>
    </div>
  </div>