<div class="interest-explorer-wrapper">
  <div class="interest-explorer-header">
    <div class="interest-explorer-banner">
      <img
        src="https://aimg.kwcdn.com/material-put/20a3d4caf7/1489166d-8575-4f4b-880f-154fed72b4f5.png?imageView2/2/w/1300/q/80/format/webp"
        alt=""
        class="interest-explorer-image"
      />
    </div>
    <div class="interest-explorer-heading">
      <h2 class="interest-explorer-title">EXPLORE YOUR INTERESTS</h2>
    </div>
  </div>
  <div class="interest-explorer content">
    <ng-content></ng-content>
  </div>
</div>
