<div class="breadcrumb breadcrumb-alt">
  <div class="breadcrumb-container">
    <h1 class="breadcrumb-title">My account</h1>
    <ul class="breadcrumb-list">
      <li class="breadcrumb-item">
        <a href="/" class="breadcrumb-link">Home</a>
      </li>
      <li class="breadcrumb-item">
        <span
          nz-icon
          nzType="right"
          nzTheme="outline"
          class="breadcrumb-separator"
        ></span>
      </li>
      <li class="breadcrumb-item breadcrumb-item-current">Account</li>
    </ul>
  </div>
</div>
<div class="main">
  <div class="row">
    <div class="main-container">
      <div class="main-sidebar">
        <div class="custom-nav">
          <ul class="sidebar">
            <li class="sidebar-items">
              <a routerLink="/account">Dashboard</a>
            </li>
            <li class="sidebar-items">
              <a routerLink="/account/addresses">Address</a>
            </li>
            <li class="sidebar-items">
              <a href="">Wishlist</a>
            </li>
            <li class="sidebar-items">
              <a (click)="logout()">Log out</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="main-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
