<div class="breadcrumb breadcrumb-alt">
  <div class="breadcrumb-container">
    <h1 class="breadcrumb-title">My account</h1>
    <ul class="breadcrumb-list">
      <li class="breadcrumb-item">
        <a href="/" class="breadcrumb-link">Home</a>
      </li>
      <li class="breadcrumb-item">
        <span
          nz-icon
          nzType="right"
          nzTheme="outline"
          class="breadcrumb-separator"
        ></span>
      </li>
      <li class="breadcrumb-item breadcrumb-item-current">Account</li>
    </ul>
  </div>
</div>
<div class="main">
  <div class="main-container">
    <div class="main-sidebar">
      <ul>
        <li>
          <a href="">Dashboard</a>
        </li>
        <li>
          <a href="">Address</a>
        </li>
        <li>
          <a href="">Wishlist</a>
        </li>
        <li>
          <a href="">Log out</a>
        </li>
      </ul>
    </div>
    <div class="main-content">gagagagasdggggggggg</div>
  </div>
</div>
